
.conteiner{
width:auto;
margin: auto;
max-width: 1200px;
}


.row{
margin: 40px 0px;
width: 28%;
display:inline-block;
}


.modello {
position: relative;
}
.full-image{
    width: 100%;
}

.sconto{
position: relative;
background-color: red;
color: white;
margin-left: 0%;
bottom: 8%;
}

.eco{
position: absolute;
background-color: green;
color: white;
margin-left:2%;
bottom: 8%;
}


.cuore{
text-align: center;
width: 40px;
height: 40px;
color: black;
position: absolute;
margin-left: 90%;
top: 3%;
background-color: white;

}
